extends ../components/template.pug


block title 
    //- 
    -  var pageTitle = t`firstpagename`



block content
    h1 #{t`lang`}


    //- TODO 
    //- images compression - https://www.npmjs.com/package/svgo-loader
    //- babel


    //- Все пути нужно прописывать с require (особенности работы pug-plugin)
    img(src=require('../../images/bg-p3.svg') width="100px")






    //- Локализация 

    //- 
    //- Переменные находятся в src/locales.json
    //- В шаблонах pug используется объект localeJson
    //- Список языков хранится в массиве в supportedLangs.js, он используется в сдк
    //- Вебпак билдит только один язык за раз, поэтому нужно вручную указывать язык в module.exports в webpack.config.js






    //- SVG iconfont

    //- 
    //- Создается с помощью команды  npm run iconfont
    //- Если не будет использоваться, можно удалить папку src/iconfont
    //- 

    //- Пример
    .iconfont-wm_ic_24_arrow_right







    //- SVG sprites

    //- 
    //- Создается с помощью команды  npm run iconsprite
    //- Берет картинки из папки icons
    //- Если не будет использоваться, можно удалить папку src/svgsprite
    //- 

    //-  Обязательно нужно импортировать спрайт как скрытое изображение, иначе работать не будет 
    img(src=require('../../svgsprite/svg/sprite.css.svg') width="0" height="0" style="position: absolute; visibility: hidden")

    //- Примеры
    svg
        use(xlink:href=require('../../svgsprite/svg/sprite.css.svg#wm_ic_24_eye_open'))

    svg
        use(xlink:href=require('../../svgsprite/svg/sprite.css.svg#wm_ic_24_arrow_right'))
