extends ../components/template.pug


block title 
    //- 
    -   var pageTitle = t`firstpagename`

block content
    .container 
        
        h1 #{t`lang`}


        //- Все пути нужно прописывать с require (особенности работы pug-plugin)
        img(src=require('../../images/image-example.webp') width="100px")




        //- Локализация 

        //- 
        //- Переменные находятся в src/locales.json
        //- Список языков хранится в массиве в supportedLangs.js, он используется в сдк
        //- 





        //- SVG iconfont

        //- 
        //- Создается с помощью команды  npm run iconfont
        //- Если не будет использоваться, можно удалить папку src/iconfont
        //- 

        //- Пример
        .iconfont-wm_ic_24_arrow_right




        //- SVG sprites

        //- https://www.npmjs.com/package/svg-sprite (режим и настройки изменяются в scripts/svgtosprite  )
        //- Создается с помощью команды  npm run svgsprite
        //- Берет картинки из папки images/icons
        //- Примеры использования в svgsprite/sprite.symbol.html (в билд не попадает), в этой же папке лежит сгенерированный спрайт
        //- Если требуется изменить цвет с помощью css, нужно убрать атрибуты fill из исходной картинки
        //- Если не будет использоваться, можно удалить папку src/svgsprite
        //- 

        //- Примеры
        svg#svg
            use(href=require('/src/svgsprite/sprite.svg#icon-example-1'))

        style(type="text/css").
            #svg {
                fill: red;
            }
        
        svg
            use(href=require('/src/svgsprite/sprite.svg#icon-example-2'))

    
