extends ../components/template.pug


block content
    h1 Pug template

    h2 TODO
    ul 
        ol Добавить поддерку babel

    img(src=require('../../images/bg-p3.svg') width="100px")
    img(src=require('../../images/icons/bg-p3.png') )
    img(src=require('../../images/bg-p3.webp') )