@use "sass:meta";
@use 'fonts.scss';
@use 'wmds-reset.scss';

.container {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

#webMoneyFooter {
    margin-top: auto;
}

@include meta.load-css('media');